<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <th:block th:replace="/fragments/header :: headerFragment"></th:block>
</head>

<body>
<div th:replace="/fragments/navigation :: navigation"></div>
<br />

<div class="container">
    <button class="btn btn-secondary" onclick="history.back()">돌아가기</button>
    <a th:href="@{/board/modify/{id}(id=${board.id})}" class="btn btn-warning">수정</a>
    <a th:href="@{/board/delete/{id}(id=${board.id})}" id="btn-delete" class="btn btn-danger">삭제</a>
    <br /> <br />
    <div>
        <h3 th:text="${board.title}"></h3>
    </div>
    <hr>
    <div>
        <div th:utext="${board.content}"></div>
<!--        썸머노트에서 가져온 값에 태그가 있으니 변수값을 escape 처리 하지 않고 표현하기 위한 것-->
    </div>

</div>

<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script type="text/javascript" th:src="@{/js/scriptBoard.js}"></script>
<th:block th:replace="/fragments/footer :: footerFragment"></th:block>
</body>
</html>