<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <th:block th:replace="/fragments/header :: headerFragment"></th:block>
</head>

<body>
<div th:replace="/fragments/navigation :: navigation"></div>
<br/>

<div class="container">
    <form>
      <input type="hidden" id="id" th:value="${board.id}" />
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" placeholder="Enter title" id="title" th:value="${board.title}">
        </div>

        <div class="form-group">
            <label for="content">Content</label>
            <textarea class="form-control summernote" rows="5" id="content" th:utext="${board.content}"></textarea>
        </div>
    </form>
    <button id="btn-update" class="btn btn-primary">글수정 완료</button>
</div>

<script th:inline="javascript">
    $('.summernote').summernote({
        placeholder: 'Hello Bootstrap 4',
        tabsize: 2,
        height: 300
    });
</script>

<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script type="text/javascript" th:src="@{/js/scriptBoard.js}"></script>
<th:block th:replace="/fragments/footer :: footerFragment"></th:block>
</body>
</html>
